<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @input_type.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @input_type.descripcion %>
</p>

<%= link_to 'Edit', edit_input_type_path(@input_type) %> |
<%= link_to 'Back', input_types_path %>
