<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @center.user %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @center.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @center.direccion %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @center.horario %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @center.lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @center.martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @center.miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @center.jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @center.viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @center.sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @center.domingo %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @center.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @center.lat %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @center.porcentaje %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @center.encargado %>
</p>

<%= link_to 'Edit', edit_center_path(@center) %> |
<%= link_to 'Back', centers_path %>
