<p id="notice"><%= notice %></p>

<h1>Listing Prizes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Puntos</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prizes.each do |prize| %>
      <tr>
        <td><%= prize.nombre %></td>
        <td><%= prize.descripcion %></td>
        <td><%= prize.cantidad %></td>
        <td><%= prize.puntos %></td>
        <td><%= prize.user %></td>
        <td><%= link_to 'Show', prize %></td>
        <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
        <td><%= link_to 'Destroy', prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prize', new_prize_path %>
